body {
	background: rgb(255, 255, 255);
}

table {
	font-family: 宋体;
	font-size: 11pt;
	border-color: rgb(78, 78, 78);
	width: 1000px;
}

td {
	padding: 5px;
}

.trTitle {
	/*background: rgb(78, 78, 78);
	color: #fff;
	border-top: 1px solid #d0d0d0;*/
    background: url(/goods/images/bg_btns.png) repeat-x;
    background-position: 0 -132px;
    margin-left: 2px;
    height: 30px;
    width: 99.8%;
	
}

.trOneLevel {
	background-color: #efeae5;
    height: 25px;
    font-weight: 900;
}

.captionAddOneLevel {
	line-height: 30px;
}

.trTwoLevel {
	text-align: left;
	font-size: 10pt;
	font-family:"微软雅黑";
}